$primary-color: #ff7c79;
$secondary-color: #ff6387;

body {
  font-family: -apple-system, "Pretendard", sans-serif;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}
